.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    position: fixed;
    background-color: white;
    top: 0px;
    left: 0px;
    right: 0px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: rgb(227, 227, 227);
    z-index: 100;

}
.sidebar{
    height: 40px;
}
.left-section{
    width: 180px;
    display: flex;
    align-items: center;
}
.middle-section{
 display: flex;
 flex: 1; 
 margin-left: 300px;
 margin-right: 200px;
 max-width: 1000px;
 align-self: center;
 

}
.search-bar{
      flex: 1;
      border-color: rgb(192, 192, 192);
      border-width: 1px;
      border-style: solid;
      box-shadow: inset 1px 2px 3px rgb(0, 0, 0, 0.05); 
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      width: 0;  
}     
.search-button-icon{
   height: 24px;
   margin-top: 2px;
  

}
.voice-search-icon{
    height: 24px;
}
.search-bar::placeholder{
    font-family: roboto;
    font-size: 16px;
    padding-left: 11px;
}
.search-bar-icon{
    height: 40px;
    width: 65px;
    border-color: rgb(192, 192, 192);
    border-style: solid;
    border-width: 1px;
    position: relative;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;


}
.search-bar-icon .tooltip{
    background-color: gray;
    color: white;
    position: absolute;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 8px;
    border-radius: 3px;
    padding-left: 8px;
    bottom: -35px;
    opacity: 0;
    transition: opacity 0.20s;
    pointer-events: none;

}
.search-bar-icon:hover .tooltip{

    opacity: 1;
    cursor: pointer;
}
.voice-search-button{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    margin-left: 10px;
    background-color: rgb(248, 248, 248);
    position: relative;
    display: flex;
    justify-content: center;


}
.voice-search-button .tooltip{
    background-color: gray;
    width: 50px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 3px;
    position: absolute;
    bottom: -45px;
    opacity: 0;
    pointer-events: none;
}
.voice-search-button:hover .tooltip
{
    opacity: 1;
    cursor: pointer;

}
.create{
    position: relative;
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   


}
.create .tooltip{
    position: absolute;
    bottom: -45px;
    font-family: roboto,arial;
    color: white;
    font-size: 13px;
    background-color: gray;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 0;
    pointer-events: none;
}
.create:hover .tooltip{
    opacity: 1;
    cursor: pointer;

}
 
.right-section{
    
    width: 250px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    
}
.upload-button{
    height: 25px;
    width: 25px;
    
    background-color: rgb(255, 255, 255);
    
    border: none;
}
.app-button{
    height: 25px;
    width: 25px;
    margin-left: 20px;
    background-color: rgb(255, 255, 255);
    border: none;

}
.Apps-button{
    position: relative;
    justify-content: center;
}
.Apps-button .tooltip{
    position: absolute;
    background-color: gray;
    font-family: roboto,arial;
    color: white;
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    bottom: -53px;
    opacity: 0;
    pointer-events: none;
}
.Apps-button:hover .tooltip{
    opacity: 1;
    cursor: pointer;

}
.notification-button{
    height: 25px;
    width: 25px;
    margin-left: 25px;
    background-color: rgb(255, 255, 255);
    border: none;


}
.notification-icon-container{
    position: relative;
    
}
.notification-count{
    position: absolute;
    top: -1px;
    right: -3px;
    background-color: rgb(213, 2, 2);
    color: white;
    font-family: roboto,arial;
    font-size: 11px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
    


}
.notification-icon-container .tooltip{
    position: absolute;
    background-color: gray;
    font-family: roboto,arial;
    font-size: 13px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    bottom: -40px;
    opacity: 0;
    pointer-events: none;
    
}
.notification-icon-container:hover .tooltip{
    opacity: 1;
    cursor: pointer;

}
.profile{
    width: 33px;
    height: 33px;
    margin-left: 10px;
    margin-right: 20px;

   
}
.hamburger-menu{
    height: 24px;
    margin-left: 27px;
}
.youtube-logo{
    height: 20px;
    margin-left: 25px;
   
}